@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
  width: 100%;
	height: auto;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 0;
	background-color: #ffffff;
}
.mainContent {
	display: block;
	width: 960px;
	height: auto;
	margin: 0px auto;
	position: relative;
	left: 0px;
	top: 0px;
	background-color: #fff;
}

.bloco-esquerdo {
  width:560px;
	height:auto;
	float:left;
	background-color:#fff;
}

.acdiv{
  width:516px;
}

h1 {
  margin: 10px 0px 10px 0px;
  font: normal 35px/35px Arial, Trebuchet MS, 'Tahoma', Helvetica, sans-serif;
}

.dados-pessoais {
  width:560px;
  height: 90px;
  background: #f1f1f1;
}

.info-dados-pessoais {
  padding: 40px 0px 0px 30px;
	font: normal 25px/25px Arial, Trebuchet MS, 'Tahoma', Helvetica, sans-serif;
	text-align: left;
	color: #262626;
}

.bloco-formulario {
  width:560px;
	height:auto;
  float:left;
  margin: 40px 0px 10px 0px;
}

.grupo-form {
  width: 220px;
  height: 40px;
  font: normal 20px/20px Arial, Trebuchet MS, 'Tahoma', Helvetica, sans-serif;
}

#nome, #ultimoNome, #cpf , #dataNasc , #cep , #rua, #pais , #estado{
  width: 250px;
  margin: 0px 15px 15px 0px;
}

#email, #emailAc, #cidade , #telefone{
  width: 516px;
  margin: 0px 0px 15px 0px;
}

#checkbox {
  margin: 0px 10px 0px 0px;
}

#btnEnviar {
  width: 200px;
  height: 50px;
  margin: 15px 0px 0px 316px;
}

.acompanhante{
	padding: 20px 20px 20px 2px;
	font: normal 20px/20px Arial, Trebuchet MS, 'Tahoma', Helvetica, sans-serif;
	text-align: justify;
	color: #262626;
}

#nomeAc, #ultimoNomeAc, #cpfAc , #dataNascAc {
  width: 250px;
  margin: 0px 15px 15px 0px;
}

#emailA{
  width: 516px;
  margin: 0px 0px 15px 0px;
}

.dadosEntrega {
  float: left;
  display: block;
  width: 560px;
	margin: 45px 45px 40px 0px;
	font: normal 20px/20px Arial, Trebuchet MS, 'Tahoma', Helvetica, sans-serif;
	text-align: left;
	color: #262626;
}

.blocoDadosEntrega{
  display: block;
  float: left;
	width: 560px;
	height:auto;
	padding: 10px 10px 10px 10px;
	background-color: #FFFFFF;
}

.blocoAcompanhante {
  display: block;
  float: left;
	width: 560px;
	height:auto;
}

.infoDadosEntrega {
	display: block;
	width: 516px;
	height: 40px;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 40px 0px;
}

.dadosAcompanhante {
  display: block;
  width: 560px;
	margin: 45px 45px 20px 0px;
	font: normal 20px/20px Arial, Trebuchet MS, 'Tahoma', Helvetica, sans-serif;
	text-align: left;
	color: #262626;
}

