<!-- FOOTER -->
<div id="footer">
  <!-- MAIN FOOTER -->
    <div id="mainFooter">
      <a href="home.html" class="homeFotter" title="HomePage OTECH">
        <img src="/assets/img/logoFooter.png" class="img-responsive" alt="Responsive image">
      </a>
      <!-- BLOCO SOBRE -->
      <div class="sobre">
        <h1><b>SOBRE NÓS</b></h1>
        <p id="sobreNos">
          Perfil<br />
          Sobre<br />
          Contato<br />
        </p>
      </div>
      <!-- END: BLOCO SOBRE -->
      <!-- BLOCO SOBRE -->
      <div class="sobre">
        <h1><b>REDES SOCIAIS</b></h1>
        <p id="sobreNos">
          Twitter<br />
          Instagram<br />
          Linkedin<br />
        </p>
      </div>
      <!-- END: BLOCO SOBRE -->
      <!-- BLOCO SOBRE -->
      <div class="sobre">
        <h1><b>CONTATO</b></h1>
        <p id="sobreNos">
          Fac<br />
           Sitemap<br />
          DÚvidas<br />
        </p>
      </div>
      <!-- END: BLOCO SOBRE -->
      <!-- END: BLOCO SOBRE -->
      <p id="enderecoEmpresa">Street addresses:445 Mount<br />
        Eder Road, Mount Eden,<br />
        Auckland - Postcodes: 5022</p>
      <span id="nossasRedes"><b>NOSSAS REDES</b></span>
      <a href="" class="" title="Instagram">
        <img src="/assets/img/icoInstagram.png" class="img-responsive" alt="Responsive image">
      </a>
      <a href="" class="" title="Linkedin">
        <img src="/assets/img/icoLinkedin.png" class="img-responsive" alt="Responsive image">
      </a>
      <a href="" class="" title="Twitter">
        <img src="/assets/img/icoTwitter.png" class="img-responsive" alt="Responsive image">
      </a>
      <div class="copyRight">
        <p id="contactUs">Contact Us</p>
        <p id="copy">CopyRight &copy;  2019, Template</p>
      </div>
    </div>
  <!-- END: MAIN FOOTER -->
</div>
<!-- END: FOOTER -->
