 <!-- bloco direito -->
 <div class="bloco-direito">
    <div class="seu-ingresso">
      <p class="info-dados-ingresso">SEU INGRESSO</p>
    </div>
    <div class="card" style="width: 25rem"  id="card">
      <h5 class="card-title" id="titulo" >Ingresso</h5>
      <img class="card-img-top" src="" alt="filme" id="imagemFilme">
      <div class="card-body">
        <p class="card-text">Filme:</p>
        <span id="valorFilme"><b>R$20,00</b></span>
      </div>
      <!-- total a pagar -->
      <div class="totalPagar">
        <p>Sub total </p><span id="valorSubTotal">R$20</span>
        <p id="frete">Frete </p><span id="valorFrete">R$10</span>
        <p id="total"><b>Total </b></p><span id="valorTotal"><b>R$30</b></span>
      </div>
      <!-- fim total a pagar -->
      </div>
 </div>
<!-- fim bloco direito -->
